services:
  bot:
    build: .
    volumes:
      - "./settings.yaml:/code/settings.yaml:ro" # Read-only settings file
      - "./data:/code/data"  # Named volume for persistence
    depends_on:
      redis:
        condition: service_healthy
    restart: always
    environment:
      - DATABASE_PATH=/code/data/sqlite.db  # Path where the SQLite file will be created
      - TZ=Asia/Almaty  # Timezone for the container
  redis:
    # See more: https://hub.docker.com/_/redis
    image: "redis:7.4.0-alpine"
    restart: always
    command: >
      redis-server
      --bind 0.0.0.0
      --save 60 1
      --maxmemory 256mb
      --maxmemory-policy allkeys-lru
      --appendonly yes
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 30s
      timeout: 10s
      retries: 5

volumes:
  bot_data:
